.select-radio:checked ~ .select-label {
  background-color: #144625;
  color: var(--brand--fg--neutral);
}

textarea {
  resize: none;
}

.file-upload {
  height: fit-content;
}

.button-icon-wrapper {
  width: fit-content;
}

.w-file-upload-success {
  max-width: 100%;
}

.w-file-upload-file-name {
  white-space: nowrap;
}
