.faq-filter-collection-list {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  -webkit-touch-callout: none; /* iOS Safari */
}
.w-nav-overlay ::-webkit-scrollbar,
.w-nav-overlay ::-webkit-scrollbar {
  display: none;
}
.faq-filter-button.w-radio-input:checked + span {
  background-color: var(--dark-green--500);
}
.faq-item-content p {
  margin-top: var(--spacing--3);
}
input[type="radio"] {
  display: none;
}
.list-pagination-buttons.page-dots:empty {
  display: none;
}
.w-container:before,
.w-container:after {
  content: none;
}
@media screen and (max-width: 479px) {
  .list-pagination-page-button {
    display: none;
  }

  .list-pagination-page-button.w--current {
    display: flex;
  }
}
@media screen and (max-width: 767px) and (min-width: 480px) {
  .list-pagination-page-button {
    display: none;
  }

  .list-pagination-page-button.w--current {
    display: flex;
  }
}
