<head>
	<link rel="stylesheet" href="styles.css" />
</head>
<body style="overflow: hidden">
	<div id="mc_embed_shell">
		<!-- <link
		href="//cdn-images.mailchimp.com/embedcode/classic-061523.css"
		rel="stylesheet"
		type="text/css"
	/> -->

		<div id="mc_embed_signup">
			<form
				action="https://kaia.us4.list-manage.com/subscribe/post?u=a1893dedc846c5c88f661b255&amp;id=6191c99952&amp;f_id=009e58ebf0"
				method="post"
				id="mc-embedded-subscribe-form"
				name="mc-embedded-subscribe-form"
				class="validate"
				target="_blank"
			>
				<div id="mc_embed_signup_scroll">
					<div class="mc-field-group">
						<div class="email-input-wrapper">
							<svg
								width="24"
								height="25"
								viewBox="0 0 24 25"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
								id="mail-icon"
							>
								<g id="mail-02">
									<path
										id="Icon"
										d="M21.5 18.5L14.8571 12.5M9.14286 12.5L2.50003 18.5M2 7.5L10.1649 13.2154C10.8261 13.6783 11.1567 13.9097 11.5163 13.9993C11.8339 14.0785 12.1661 14.0785 12.4837 13.9993C12.8433 13.9097 13.1739 13.6783 13.8351 13.2154L22 7.5M6.8 20.5H17.2C18.8802 20.5 19.7202 20.5 20.362 20.173C20.9265 19.8854 21.3854 19.4265 21.673 18.862C22 18.2202 22 17.3802 22 15.7V9.3C22 7.61984 22 6.77976 21.673 6.13803C21.3854 5.57354 20.9265 5.1146 20.362 4.82698C19.7202 4.5 18.8802 4.5 17.2 4.5H6.8C5.11984 4.5 4.27976 4.5 3.63803 4.82698C3.07354 5.1146 2.6146 5.57354 2.32698 6.13803C2 6.77976 2 7.61984 2 9.3V15.7C2 17.3802 2 18.2202 2.32698 18.862C2.6146 19.4265 3.07354 19.8854 3.63803 20.173C4.27976 20.5 5.11984 20.5 6.8 20.5Z"
										stroke="white"
										stroke-width="1.2"
										stroke-linecap="round"
										stroke-linejoin="round"
									/>
								</g>
							</svg>

							<input
								type="email"
								name="EMAIL"
								class="required email"
								id="mce-EMAIL"
								required=""
								value=""
								placeholder="EMAIL ADDRESS"
							/>
						</div>
						<div class="clear submit-button" style="position: relative">
							<input
								type="submit"
								name="subscribe"
								id="mc-embedded-subscribe"
								class="button"
								value=""
							/>
							<svg
								width="24"
								height="25"
								viewBox="0 0 24 25"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
								id="send-icon"
							>
								<g id="send-03">
									<path
										id="Icon"
										d="M10.5004 12.4998H5.00043M4.91577 12.7913L2.58085 19.766C2.39742 20.3139 2.3057 20.5879 2.37152 20.7566C2.42868 20.9031 2.55144 21.0142 2.70292 21.0565C2.87736 21.1052 3.14083 20.9866 3.66776 20.7495L20.3792 13.2293C20.8936 12.9979 21.1507 12.8822 21.2302 12.7214C21.2993 12.5817 21.2993 12.4179 21.2302 12.2782C21.1507 12.1174 20.8936 12.0017 20.3792 11.7703L3.66193 4.24751C3.13659 4.01111 2.87392 3.89291 2.69966 3.9414C2.54832 3.98351 2.42556 4.09429 2.36821 4.24054C2.30216 4.40893 2.3929 4.68231 2.57437 5.22906L4.91642 12.2853C4.94759 12.3792 4.96317 12.4262 4.96933 12.4742C4.97479 12.5168 4.97473 12.5599 4.96916 12.6025C4.96289 12.6506 4.94718 12.6975 4.91577 12.7913Z"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
									/>
								</g>
							</svg>
						</div>
					</div>
					<!-- <div
						class="mc-field-group language-selector"
						style="position: relative; width: fit-content"
					>
						<select name="LANGUAGE" class="" id="mce-LANGUAGE">
							<option value="" hidden selected>Preferred Language</option>
							<option value="한국어">한국어</option>
							<option value="English" selected>English</option>
						</select>
						<svg
							width="24"
							height="24"
							viewBox="0 0 24 24"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
							id="down-icon"
						>
							<path
								d="M9 18L15 12L9 6"
								stroke="white"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
						</svg>
					</div> -->
					<div>
						<label class="checkbox subfield" for="gdpr51729"
							><input
								type="checkbox"
								id="gdpr_51729"
								name="gdpr[51729]"
								class="gdpr"
								value="Y"
								checked
								style="display: none"
							/><span>Email</span></label
						>
					</div>

					<div hidden="“”">
						<input type="“hidden”" name="“tags”" value="“6877709”" />
					</div>
					<div id="“mce-responses”" class="“clear”">
						<div
							class="“response”"
							id="mce-error-response"
							style="display: none"
						></div>
						<div
							class="response"
							id="mce-success-response"
							style="display: none"
						></div>
					</div>
					<div aria-hidden="true" style="position: absolute; left: -5000px">
						<input
							type="text"
							name="b_a1893dedc846c5c88f661b255_6191c99952"
							tabindex="-1"
							value=""
						/>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- <script
		type="text/javascript"
		src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"
	></script> -->

	<script type="text/javascript">
		(function ($) {
			window.fnames = new Array();
			window.ftypes = new Array();
			fnames[0] = "EMAIL";
			ftypes[0] = "email";
			fnames[3] = "LANGUAGE";
			ftypes[3] = "dropdown";
			fnames[1] = "NAME";
			ftypes[1] = "text";
			fnames[6] = "CTRY";
			ftypes[6] = "dropdown";
			fnames[5] = "ORG";
			ftypes[5] = "text";
			fnames[7] = "JOB";
			ftypes[7] = "text";
			fnames[2] = "TWITTER";
			ftypes[2] = "text";
			fnames[4] = "DISCORD";
			ftypes[4] = "text";
			fnames[8] = "GITHUB";
			ftypes[8] = "url";
		})(jQuery);
		var $mcj = jQuery.noConflict(true);
	</script>
</body>
